<div ng-cloak ng-controller="subscriptCtrl">
    <div class="page-title">
        <div class="title_left">
            <h3>
                Suscriptores
            </h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <div class="input-group">
                    <input ng-model="string" ng-change="listSubscriptions()" type="text" class="form-control"
                           placeholder="Buscar por...">
                    <span class="input-group-btn">
                      <button class="btn btn-default" type="button">
                          <i class="fa fa-search"></i>
                      </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row">
        <div class="clearfix"></div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div>
                <div class="x_title">
                    <div class=" filter-boat pull-right">
                        <span ng-click="filterSusc(false)" ng-class="{'filter-active': status==false}"
                              style="padding: 0 5px;" class="count_top right-space pointer ng-binding">
                                            <i class="fa fa-check"></i>
                                            Activos
                                    </span>
                        <span ng-click="filterSusc(true)" ng-class="{'filter-active': status==true}"
                              style="padding: 0 5px;" class="count_top pointer ng-binding">
                                            <i class="fa fa-ban"></i>
                                                Inactivos
                                    </span>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered jambo_table bulk_action">
                            <thead>
                            <tr class="headings">
                                <th class="column-title pointer"
                                    ng-click="changeSortOptions('name')">
                                    <div>Nombres
                                        <i ng-show="sortOptions.field == 'name' && sortOptions.sort == 1"
                                           class="fa fa-sort-amount-asc pull-right"></i>
                                        <i ng-show="sortOptions.field == 'name' && sortOptions.sort == -1"
                                           class="fa fa-sort-amount-desc pull-right"></i>
                                        <i ng-show="sortOptions.field != 'name'" class="fa fa-sort pull-right"
                                           style="opacity: 0.5"></i>
                                    </div>
                                </th>
                                <th class="column-title pointer"
                                    ng-click="changeSortOptions('lastname')">
                                    <div>Apellidos
                                        <i ng-show="sortOptions.field == 'lastname' && sortOptions.sort == 1"
                                           class="fa fa-sort-amount-asc pull-right"></i>
                                        <i ng-show="sortOptions.field == 'lastname' && sortOptions.sort == -1"
                                           class="fa fa-sort-amount-desc pull-right"></i>
                                        <i ng-show="sortOptions.field != 'lastname'" class="fa fa-sort pull-right"
                                           style="opacity: 0.5"></i>
                                    </div>
                                </th>
                                <th class="column-title" ng-if="status">Motivo</th>
                                <th class="column-title pointer" ng-show="!status"
                                    ng-click="changeSortOptions('email')">
                                    <div>Email
                                        <i ng-show="sortOptions.field == 'email' && sortOptions.sort == 1"
                                           class="fa fa-sort-amount-asc pull-right"></i>
                                        <i ng-show="sortOptions.field == 'email' && sortOptions.sort == -1"
                                           class="fa fa-sort-amount-desc pull-right"></i>
                                        <i ng-show="sortOptions.field != 'email'" class="fa fa-sort pull-right"
                                           style="opacity: 0.5"></i>
                                    </div>
                                </th>
                                <th class="column-title pointer"
                                    ng-click="changeSortOptions('registerDate')">
                                    <div>Fecha de Registro
                                        <i ng-show="sortOptions.field == 'registerDate' && sortOptions.sort == 1"
                                           class="fa fa-sort-amount-asc pull-right"></i>
                                        <i ng-show="sortOptions.field == 'registerDate' && sortOptions.sort == -1"
                                           class="fa fa-sort-amount-desc pull-right"></i>
                                        <i ng-show="sortOptions.field != 'registerDate'" class="fa fa-sort pull-right"
                                           style="opacity: 0.5"></i>
                                    </div>
                                </th>
                                <th class="column-title">Acciones</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="even pointer" ng-cloak ng-repeat="subs in subscriptions"
                                ng-class-even="$index%2==0" ng-class-odd="$index%2==1">
                                <td class=" ">{{subs.name?subs.name:"**********"}}</td>
                                <td class=" ">{{subs.lastname?subs.lastname:"**********"}}</td>
                                <td ng-if="status">
                                    {{subs.reason == 1?"No quiere seguir recibiendo estos email":""}}
                                    {{subs.reason == 2?"Nunca me suscribí a esta lista de correo":""}}
                                    {{subs.reason == 3?"Estos correos electrónicos son inapropiados":""}}
                                    {{subs.reason == 4?"Estos correos son spam, deberían ser reportados":""}}
                                    {{subs.reason == 5? subs.text:""}}{{subs.reason == 6?"Por Admin":""}}
                                </td>
                                <td ng-show="!status">{{subs.email}}</td>
                                <td>{{subs.registerDate|date:'dd/MM/yyyy'}}</td>
                                <td class="text-center">
                                    <a ng-click="select(subs)" type="button" class="btn btn-xs"
                                       ng-class="subs.remove ? 'btn-warning' : 'btn-success'">
                                        <i ng-class="subs.remove ? 'fa fa-ban' : 'fa fa-check'"></i>
                                    </a>
                                    <a type="button" ng-click="selectR(subs)"
                                       class="btn btn-xs btn-danger" data-toggle="modal"
                                       data-target=".full-remove-item">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <br>
                    <div class="clearfix"></div>
                    <uib-pagination direction-links="false" boundary-links="true" total-items="totalItems"
                                    ng-model="currentPage" max-size="maxSize"
                                    class="pagination pagination-sm no-margin pull-right " ng-change="pageChanged()"
                                    previous-text="&lsaquo;"
                                    next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;">
                    </uib-pagination>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade remove-item" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Eliminar suscriptor {{suscriptSelect.email}}</h4>
                </div>
                <div class="modal-body">
                    <p>Este suscriptor será eliminado</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button ng-click="remove()" type="button" class="btn btn-danger" data-dismiss="modal">Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade full-remove-item" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    </button>
                    <h4 class="modal-title" id="myModalLabel2">Eliminar suscriptor <span class="label label-warning">{{suscriptSelect.email}}</span>
                    </h4>
                </div>
                <div class="modal-body">
                    <p>Este suscriptor será eliminado completamente</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button ng-click="removeI()" type="button" class="btn btn-danger" data-dismiss="modal">Aceptar
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>