<div class="contact-help">
    <img src="/frontEnd/img/img_60_floating_menu_help@2x.png" class="pull-left save inline-block">

    <div class="inline-block">
        <h4><%= texts.help%></h4>

        <p><%= texts.help_sub%></p>
    </div>
    <div class="clearfix"></div>
    <div class="line"></div>
    <div class="body">
        <div class="title">
            <%= texts.help_sub2%>
        </div>
        <div class="items">
            <div class="span one inline-block"><span class="icon icon-phone"></span></div>
            <div class="inline-block">
                <a href="tel:(+34) 609 183 183">(+34) 609 183 183</a>
            </div>
        </div>
        <div class="items">
            <div class="span one inline-block"><span class="icon icon-envelope"></span></div>
            <p class="inline-block">
                <a href="mailto:info@alquilerdebarco.com">info@alquilerdebarco
                    .com </a>
            </p>
        </div>

    </div>
    <div class="footer">
        <img width="60px" height="60px" src="/frontEnd/img/img_60_menu_logo.png" srcset="/frontEnd/img/img_60_menu_logo@2x.png 2x">

        <p>Alquiler<span style="color: #5accfe">de</span>Barco<span style="color: #5accfe">.com</span></p>
    </div>
</div>
<div class="clearfix"></div>