<div class="side-card">
    <div class="title">
        <span class="icon icon-question-sign"></span>
        <a style="color: white" href="/<%= language %>/<%= texts.slug_frequently_questions%>"><%= texts.frequently_questions%></a>
    </div>
</div>