<div class="container margin-pages">
    <div class="row">
        <div class="col-xs-12 col-sm-7 col-md-8">
            <div class="user-guide">
                <h4 class="title"><%= texts.conditions_title %></h4>

                <p><%- texts.conditions_body%>

                </p>
            </div>

        </div>
        <div class="col-xs-12 col-sm-5 col-md-4">
            <%- include('contact') %>
            <%- include('faq')%>
        </div>
    </div>
</div>