<div class="menu_section">
    <h3>Sistema</h3>
    <ul class="nav side-menu">
        <li class="<% if (page == 'users') { %> nv active  <% } %>">
            <a href="/backoffice/users"><i class="fa fa-users"></i>
                Usuarios
            </a>
        </li>
        <li class="<% if (page == 'owners') { %> nv active  <% } %>">
            <a href="/backoffice/owners"><i class="fa fa-users"></i>
                Propietarios
            </a>
        </li>
        <li class="<% if (page == 'particulars') { %> nv active  <% } %>">
            <a href="/backoffice/particulars"><i class="fa fa-user"></i>
                Particulares
            </a>
        </li>
        <li class="<% if (page == 'subscripts') { %> nv active  <% } %>">
            <a href="/backoffice/subscripts"><i class="fa fa-bookmark"></i>
                Suscriptores
            </a>
        </li>

        <li class="<% if (page == 'invoices') { %> nv active  <% } %>">
            <a href="/backoffice/invoices"><i class="fa fa-money"></i>
                Facturación
            </a>
        </li>
        <li class="<% if (page == 'localizations') { %> nv active  <% } %>">
            <a href="/backoffice/localizations"><i
                        class="fa fa-location-arrow"></i>
                Ubicaciones
            </a>
        </li>
        <li class="<% if (page == 'texts') { %> nv active  <% } %>">
            <a href="/backoffice/texts"><i class="fa fa-file-text"></i>
                Textos
            </a>
        </li>

        <li class="<% if (page == 'tool') { %> nv active  <% } %>">
            <a href="/backoffice/tool"><i class="fa fa-file-text"></i>
                Herramienta de Textos
            </a>
        </li>


        <li class="<% if (page == 'notifications') { %> nv active  <% } %>">
            <a href="/backoffice/notifications"><i
                        class="fa fa-envelope"></i>
                Notificaciones
            </a>
        </li>

        <li class="<% if (page == 'landings') { %> nv active  <% } %>">
            <a href="/backoffice/landings"><i
                        class="fa fa-laptop"></i>
                Landings
            </a>
        </li>

      <!--<li class="<% if (page == 'languages') { %> nv active  <% } %>">-->
        <!--<a href="/backoffice/languages">-->
          <!--<i class="fa fa-language"></i>-->
          <!--Idiomas-->
        <!--</a>-->
      <!--</li>-->

        <li>
            <a href="http://blog.alquilerdebarco.com/"><i class="fa fa-pencil-square-o"></i>
            Admin Blog
           </a>
        </li>

        <li class="<% if (page == 'configuration') { %> nv active  <% } %>">
            <a href="/backoffice/configuration"><i class="fa fa-cog"></i>
                Configuración
            </a>
        </li>

        <li id="front-side-menu">
            <a href="/" target="_blank">
                <!--<img src="/backend/gentelella/images/img_logo_alquilerdebarco.png" style="height: 18px;margin-right: 8px;margin-top: -5px;">        Ir a Alquiler<span style="color: #5accfe">de</span>Barco<span style="color: #5accfe">.com</span>-->
                <img src="/backend/gentelella/images/img_60_menu_logo.png" style="height: 18px;margin-right: 8px; margin-bottom: 5px">
                <div class="clearfix"></div>
                Ir a Alquiler<span style="color: #5accfe">de</span><of> de </of>Barco<span style="color: #5accfe">.com</span>
            </a>
        </li>
        <li id="out-side-menu">
            <a href="/Blogout">
                <i class="fa fa-sign-out"></i> Cerrar sesión
            </a>
        </li>

    </ul>
</div>