<!-- footer content -->
<footer class="no-print">
    <div class="">
        <p class="pull-right">
            <!--<span class="lead"> <img src="/backend/gentelella/images/img_logo_alquilerdebarco_dark.png">Alquiler<span style="color: #5accfe">de</span>Barco<span style="color: #5accfe">.com</span></span>-->
            <span class="lead"> <img height="24" width="24" src="/backend/gentelella/images/img_60_menu_logo.png">Alquiler<span style="color: #5accfe">de</span>Barco<span style="color: #5accfe">.com</span></span>
        </p>
    </div>
    <div class="clearfix"></div>
</footer>
<!-- /footer content -->