<div class="sidebar-footer hidden-small">
    <a href="/backoffice/configuration"
       data-toggle="tooltip" data-placement="top" title="Configuración">
        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
    </a>
    <a href="/backoffice/languages"
       data-toggle="tooltip" data-placement="top" title="Idiomas">
        <span class="fa fa-language" aria-hidden="true"></span>
    </a>
    <a href="/backoffice/users"
       data-toggle="tooltip" data-placement="top" title="Usuarios">
        <span class="fa fa-users " aria-hidden="true"></span>
    </a>
    <a href="/Blogout"
       data-toggle="tooltip" data-placement="top" title="Logout">
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
    </a>
</div>